@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div style="display:flex; margin-bottom:1em;">
    <iframe style="display:flex;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.6365104529154!2d-122.08628374890367!3d37.4220655797262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fba02425dad8f%3A0x6c296c66619367e0!2sGoogleplex!5e0!3m2!1ssv!2sse!4v1605269881299!5m2!1ssv!2sse" width="500" height="426" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div style="display:flex; flex-direction:column; margin-left:1em; font-size:0.9em; font-weight:700; padding:1em; background:#fff;">
        <span>Phone</span>
        <p>142-0000-000</p>
        <span>Fax</span>
        <p>+1-212-9876543</p>
        <span>Email</span>
        <p>viewp@nomail.com</p>
    </div>
</div>

@*Keeping most of the values hardcoded for now*@