<div class="welcome-dashboard" ng-controller="CustomWelcomeDashboardController as vm">
    <div class="welcome-message">
        <h1>Welcome {{vm.UserName}}</h1>
        <p>We hope you find the experience of editing your content with Umbraco enjoyable and delightful. If you discover any problems with the site please report them to the support team at <a href="mailto:">support@popularumbracopartner.com</a></p>
    </div>

    <div class="recently-edited-container">
        <div class="recently-edited">
            <h2>Recently edited..</h2>
            <ul class="unstyled">
                <li ng-repeat="logEntry in vm.UserLogHistory.items">
                    <i class="{{logEntry.Content.icon}}"></i> <a href="/Umbraco/#/{{logEntry.editUrl}}">{{logEntry.Content.name}} <span ng-if="logEntry.comment">- {{logEntry.comment}}</span></a> - <span class="text-muted">(Edited on: {{logEntry.timestamp  | date:'medium'}})</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="add-image-container">
        <div class="toolbox-container">
            <a class="btn btn-primary btn-large add-image" href="/umbraco/#/content/content/edit/1145?doctype=galleryItem&create=true">
                <i class="icon-add"></i>
                <div class="add-image-text">Add new image to gallery</div>
            </a>
        </div>
    </div>
</div>