<div class="welcome-dashboard" ng-controller="CustomWelcomeDashboardController as vm">
    <div class="welcome-message">
        <h1>Welcome {{vm.UserName}}</h1>
        <p>We hope you find the experience of editing your content with Umbraco enjoyable and delightful. If you discover any problems with the site please report them to the support team at <a href="mailto:">support@popularumbracopartner.com</a></p>
    </div>

    <div class="recently-edited-container">
        <div class="recently-edited">
            <h2>Recently edited..</h2>
            <ul class="unstyled">
                <li ng-repeat="logEntry in vm.UserLogHistory.items">
                    <i class="fa fa-cog" style="color: #f5c1bc; margin-right:.3em;"></i> <a href="/Umbraco/#/{{logEntry.editUrl}}">{{logEntry.Content.name}} <span ng-if="logEntry.comment">- {{logEntry.comment}}</span></a> - <span class="text-muted">(Edited on: {{logEntry.timestamp  | date:'medium'}})</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="toolbox-container">
        <div class="toolbox">
            <a class="add-image" href="/umbraco/#/content/content/edit/1145?doctype=galleryItem&create=true">
                <i class="icon-add"></i>
                <span>Gallery item</span>
            </a>
        </div>
        <div class="toolbox">
            <a class="add-image" href="/umbraco/#/content/content/edit/1174?doctype=membersOnlyItem&create=true">
                <i class="icon-add"></i>
                <span>MO Gallery item</span>
            </a>
        </div>
    </div>
</div>
