@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.About>
@{
    Layout = "Master.cshtml";
}

@*Special header for the sub-pages*@
<header id="header">
    <div><span>@Model.Subtitle</span></div>
</header>

    <div class="inner">

        <header>
            <h1>@Model.Title</h1>
        </header>

        @Html.GetGridHtml(Model, "mainContent")
    </div>
    <!-- Contact -->
    @Html.Partial("/Views/Partials/contactPartial.cshtml")
