@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.About>
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";
}

@*Special header for the sub-pages*@
<header id="header">
    <div><span>@(Model.Root().Value<string>("title", fallback: Fallback.ToDefaultValue, defaultValue: Model.Name))</span></div>
</header>

<div class="inner">

    <header>
        <h1>@Model.Title</h1>
    </header>

    @Html.GetGridHtml(Model, "mainContent")
</div>