@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.About>
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js");

    Html.RequiresJs("/scripts/jquery.validate.min.js");
    Html.RequiresJs("/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("/scripts/jquery.unobtrusive-ajax.min.js");
    Html.RequiresJs("/scripts/contactForm.js");
}

@*Special header for the sub-pages*@
<header id="header">
    <div><span>@(Model.Root().Value<string>("title"))</span></div>
</header>

<div class="inner">

    <header>
        <h1>@Model.Title</h1>
    </header>

    @Html.GetGridHtml(Model, "mainContent")
</div>


@{Html.RenderAction("RenderForm", "ContactSurface"); }