@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.About>
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";

    Html.RequiresJs("/scripts/contactForm.js");
}

@*Special header for the sub-pages*@
<header id="header">
    <div><span>@Model.Subtitle</span></div>
</header>

<div class="inner">

    <header>
        <h1>@Model.Title</h1>
    </header>

    @Html.GetGridHtml(Model, "mainContent")
</div>


@{Html.RenderAction("RenderForm", "ContactSurface"); }