@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.About>
@{
    Layout = "Master.cshtml";
}

    <div class="inner">

        <header>
            <h1>@Model.Title</h1>
        </header>

        @Html.GetGridHtml(Model, "mainContent")
    </div>
    <!-- Contact -->
    @Html.Partial("/Views/Partials/contactPartial.cshtml")
