@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AccessDenied>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<header id="header">
    <div><span>@(Model.Root().Value<string>("title", fallback: Fallback.ToDefaultValue, defaultValue: Model.Name))</span></div>
</header>

<div class="inner">

    <header>
        <h1>@Model.Title</h1>
    </header>
    <section>
        @Html.GetGridHtml(Model, "mainContent")
    </section>
    <a href="/register">Register</a>
    <a href="/login">Login</a>

</div>
<div class="fill-page" style="height:18em;"></div>