@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>

    @{
    Layout = "Master.cshtml";
    }

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>@Model.Title</h1>
            <p>@Model.Subtitle</p>
            <ul class="actions">
                <li><a href="#galleries" class="button alt scrolly big">Continue</a></li>
            </ul>
        </div>
    </section>


    @Html.Partial("/Views/Partials/galleryPreview.cshtml")
