@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Login>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<header id="header">
    <div><span>@Model.Subtitle</span></div>
</header>

<div class="inner">

    <header>
        <h1>@Model.Title</h1>
    </header>
    @{
        Html.RenderAction("RenderLogin", "Member");
    }

</div>
