@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Login>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<header id="header">
    <div><span>@(Model.Root().Value<string>("title", fallback: Fallback.ToDefaultValue, defaultValue: Model.Name))</span></div>
</header>

<div class="inner">

    <header>
        <h1>@Model.Title</h1>
    </header>

    <section>
        @Html.GetGridHtml(Model, "mainContent")
    </section>
    @{
        Html.RenderAction("RenderLogin", "Member");
    }
    <p><a href="/register">Register a new account</a></p>
</div>