@inherits UmbracoViewPage<ContentModels.Register>
@using ContentModels = Umbraco.Web.PublishedModels;
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";

}


<header id="header">
    <div><span>@Model.Subtitle</span></div>
</header>

<div class="inner">

    <header>
        <h1>@Model.Title</h1>
    </header>    
    <section>

            @Html.Partial("_Register")
        
    </section>

</div>
